<div class="d-flex text-muted pt-3">
    {% if item.stock %}
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#2c9665"/></svg>
    {% else %}
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#c71c1c"/></svg>
    {% endif %}  
    <p class="pb-3 mb-0 small lh-sm border-bottom">
      <strong class="d-block text-gray-dark">{{ item.name }}</strong>
        ${{ item.price }}
    </p>
  </div>
  